@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-geist-mono);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .center-content {
    display: grid;
    place-items: center;
  }
}

p {
  text-align: justify;
}

.project-image {
  width: 250px; 
  height: auto;
}

.inline-code {
     background-color: #f0f0f0;
     padding: 0.2em 0.4em;
     border-radius: 3px;
     font-family: monospace;
   }

.block-code {
  background-color: #222;
  color: #f8f8f2;
  padding: 1em;
  border-radius: 5px;
  font-family: monospace;
  overflow-x: auto; /* Enable horizontal scrolling if code is too long */
}

@media print {
  body * {
    visibility: hidden;
  }
  .cv-container, .cv-container * {
    visibility: visible;
  }
  .cv-container {
    position: absolute;
    left: 0;
    top: 0;
  }
  .no-print {
    display: none !important;
  }
}